<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <link href="css/pygments.css" media="screen" rel="stylesheet" type="text/css">
    <link href="css/documentation.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <a href="https://github.com/cretz/node-tds"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    <div id="wrapper">
      <div id="content" class="site">
        <div class="wikistyle">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>